::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

* {
	font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

body {
	text-align: center;
	margin: 1rem;
}
h1 {
	font-weight: lighter;
	letter-spacing: 0.1rem;
}
p {
	line-height: 2rem;
}

input, button {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #f0f0f0;
	border: 2px solid #999;
	color: #333;
	font-weight: 500;
	font-size: medium;
}
input:focus, button:focus {
	outline: none;
	border-color: #333;
}

input {
	box-shadow: 4px 4px 0px #ccc;
}
button:hover {
	cursor: pointer;
	background-color: #333;
	border-color: #333;
	color: #fff;
}